<div class="container-fluid">
  <div>
    <h1>
      Your <b id="brand">RoboMix</b> cocktail:
    </h1>
  </div>

  <div>
    <p>
      A <%= @robo_format.name %>-format cocktail
    </p>
    With:
    <ul>
      <li>
        2 oz <%= @robo_liquor.name %>
      </li>

      <li>
        1 oz <%= @robo_bitters.name %>
      </li>

      <li>
        1 oz <%= @robo_modifier.name %>
      </li>
    </ul>

    <h3>
      Suggested technique
    </h3>
    <p>
      In a mixing glass, add <%= @robo_liquor.name.downcase %>, <%= @robo_bitters.name.downcase %>, and <%= @robo_modifier.name.downcase %> over ice. Stir for 20 seconds or to your preferred coldness, then strain into a rocks glass over ice. Garnish with an orange twist and/or a maraschino cherry.
    </p>
  </div>
  <div class="mb-1">
    <form action="/insert_saved_cocktail" method="post">
      <input type="hidden" id="user_id_box" value="<%= session[:user_id] %>" name="query_user_id">
      <input type="hidden" id="format_id_box" value="<%= @robo_format.id %>" name="query_format_id">
      <input type="hidden" id="name_box" value="RoboMix Cocktail #<%= @robo_number %>" name="query_name">
      <input type="hidden" id="liquor_id_box" value="<%= @robo_liquor.id %>" name="query_liquor_id">
      <input type="hidden" id="sweetener_id_box" value="" name="query_sweetener_id">
      <input type="hidden" id="bitters_id_box" value="<%= @robo_bitters.id %>" name="query_bitters_id">
      <input type="hidden" id="citrus_id_box" value="" name="query_citrus_id">
      <input type="hidden" id="soda_id_box" value="" name="query_soda_id">
      <input type="hidden" id="modifier_id_box" value="<%= @robo_modifier.id %>" name="query_modifier_id">
      <input type="hidden" id="image_box" value="" name="query_image">
      <button class="btn btn-secondary">
        Save cocktail
      </button>
    </form>
  </div>

  <div>
    <form action="/generator/output">
    <button class="btn btn-secondary">ROBOMIX</button>
  </div>
</div>