<div>
  <div>
    <h1>
      List of all cocktails
    </h1>
  </div>
</div>
<a href="/">Home</a>
<hr>
<!--
<div>
  <div>
    <h2>
      Add a new cocktail
    </h2>

    <form action="/insert_cocktail" method="post">
      <div>
        <label for="format_id_box">
          Format
        </label>

        <input type="text" id="format_id_box" name="query_format_id">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="liquor_id_box">
          Liquor
        </label>

        <input type="text" id="liquor_id_box" name="query_liquor_id">
      </div>

      <div>
        <label for="sweetener_id_box">
          Sweetener
        </label>

        <input type="text" id="sweetener_id_box" name="query_sweetener_id">
      </div>

      <div>
        <label for="bitters_id_box">
          Bitters
        </label>

        <input type="text" id="bitters_id_box" name="query_bitters_id">
      </div>

      <div>
        <label for="citrus_id_box">
          Citrus
        </label>

        <input type="text" id="citrus_id_box" name="query_citrus_id">
      </div>

      <div>
        <label for="soda_id_box">
          Soda
        </label>

        <input type="text" id="soda_id_box" name="query_soda_id">
      </div>

      <div>
        <label for="modifier_id_box">
          Modifier
        </label>

        <input type="text" id="modifier_id_box" name="query_modifier_id">
      </div>

      <button>
        Create cocktail
      </button>
    </form>
  </div>
</div>
-->
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Format
        </th>

        <th>
          Name
        </th>

        <th>
          Liquor
        </th>

        <th>
          Sweetener
        </th>

        <th>
          Bitters
        </th>

        <th>
          Citrus
        </th>

        <th>
          Soda
        </th>

        <th>
          Modifier
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cocktails.each do |a_cocktail| %>
      <tr>
        <td>
          <%= a_cocktail.format.name %>
        </td>

        <td>
          <%= a_cocktail.name %>
        </td>

        <td>
          <%= a_cocktail.liquor.name %>
        </td>

        <td>
          <%= a_cocktail.sweetener_id %>
        </td>

        <td>
          <%= a_cocktail.bitters_id %>
        </td>

        <td>
          <%= a_cocktail.citrus_id %>
        </td>

        <td>
          <%= a_cocktail.soda_id %>
        </td>

        <td>
          <%= a_cocktail.modifier_id %>
        </td>

        <td>
          <a href="/cocktails/<%= a_cocktail.name %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
