<div>
  <div>
    <h1>
      The <%= @the_cocktail.name %>
    </h1>

    <div>
      <div>
        <a href="/cocktails">
          All cocktails
        </a>
      </div>

    <ul>
      <li>
        1.5 oz <%= @the_cocktail.liquor.name %>
      </li>
      <li>
        3/4 oz <%= @the_cocktail.sweetener.name %>
      </li>
      <li>
        2 dashes <%= @the_cocktail.bitters.name %>
      </li>
    </ul>
    <h3>
      Technique
    </h3>

    <p>
      In a mixing glass, add <%= @the_cocktail.liquor.name.downcase %>, <%= @the_cocktail.sweetener.name.downcase %>, and <%= @the_cocktail.bitters.name %> over ice. Stir for 20 seconds or to your preferred coldness, then strain into a rocks glass over ice. Garnish with orange rind and/or a maraschino cherry.
    </p>
    <dl>
      <dt>
        Format
      </dt>
      <dd>
        <%= @the_cocktail.format.name %>
      </dd>

      <dt>
        Liquor
      </dt>
      <dd>
        <%= @the_cocktail.liquor.name %>
      </dd>

      <dt>
        Sweetener
      </dt>
      <dd>
        <%= @the_cocktail.sweetener_id %>
      </dd>

      <dt>
        Bitters
      </dt>
      <dd>
        <%= @the_cocktail.bitters_id %>
      </dd>

      <dt>
        Citrus
      </dt>
      <dd>
        <%= @the_cocktail.citrus_id %>
      </dd>

      <dt>
        Soda
      </dt>
      <dd>
        <%= @the_cocktail.soda_id %>
      </dd>

      <dt>
        Modifier
      </dt>
      <dd>
        <%= @the_cocktail.modifier_id %>
      </dd>

<hr>



<hr>