<div class="container-fluid mb-1">
  <h1 class="mb-3">
    The <%= @the_cocktail.name %>
  </h1>
  <div class="d-flex justify-content-start mb-2">
    <div class="d-inline-flex">
      <img src="<%= @the_cocktail.image %>" width="250">
    </div>
    <div class="container">
      <div>
        <h4>
          A cocktail in the Sour family.
        </h4>
      </div>
      <div>
        <strong>Ingredients:</strong>
        <ul>
          <li>
            1.5 oz <%= @the_cocktail.liquor.name %>
          </li>
          <li>
            3/4 oz <%= @the_cocktail.sweetener.name %>
          </li>
          <li>
            3/4 oz <%= @the_cocktail.citrus.name %>
          </li>
        </ul>
      </div>
      <div>
        <h3>
          Technique
        </h3>

        <p>
          In a cocktail shaker, add <%= @the_cocktail.liquor.name.downcase %>, <%= @the_cocktail.sweetener.name.downcase %>, and <%= @the_cocktail.citrus.name.downcase %> over ice. Close and shake for 20 seconds, then strain into a chilled rocks or coupe glass. 
        </p>
      </div>
    </div>
  </div>
  <div>
    <form action="/insert_saved_cocktail" method="post">
      <input type="hidden" id="user_id_box" value="<%= session[:user_id] %>" name="query_user_id">
      <input type="hidden" id="format_id_box" value="<%= @the_cocktail.format_id %>" name="query_format_id">
      <input type="hidden" id="name_box" value="<%= @the_cocktail.name %>" name="query_name">
      <input type="hidden" id="liquor_id_box" value="<%= @the_cocktail.liquor_id %>" name="query_liquor_id">
      <input type="hidden" id="sweetener_id_box" value="<%= @the_cocktail.sweetener_id %>" name="query_sweetener_id">
      <input type="hidden" id="bitters_id_box" value="<%= @the_cocktail.bitters_id %>" name="query_bitters_id">
      <input type="hidden" id="citrus_id_box" value="<%= @the_cocktail.citrus_id %>" name="query_citrus_id">
      <input type="hidden" id="soda_id_box" value="<%= @the_cocktail.soda_id %>" name="query_soda_id">
      <input type="hidden" id="modifier_id_box" value="<%= @the_cocktail.modifier_id %>" name="query_modifier_id">
      <input type="hidden" id="image_box" value="<%= @the_cocktail.image %>" name="query_image">
      <button class="btn btn-secondary">
        Save cocktail
      </button>
    </form>
  </div>
</div>