<div>
  <div>
    <h1>
      List of all citrus
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new citrus
    </h2>

    <form action="/insert_citrus" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create citrus
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_citrus.each do |a_citrus| %>
      <tr>
        <td>
          <%= a_citrus.id %>
        </td>

        <td>
          <%= a_citrus.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_citrus.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_citrus.updated_at) %> ago
        </td>

        <td>
          <a href="/citrus/<%= a_citrus.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
