<div>
  <div>
    <h1>
      Format #<%= @the_format.id %> details
    </h1>

    <div>
      <div>
        <a href="/formats">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_format/<%= @the_format.id %>">
          Delete format
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_format.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_format.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_format.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit format
    </h2>

    <form action="/modify_format/<%= @the_format.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_format.name %>">
      </div>

      <button>
        Update format
      </button>
    </form>
  </div>
</div>

<hr>
