<body>
  <h1>
    The <%= @the_cocktail.name %>
  </h1>

<div>
  <!-- Button trigger modal 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div>
    <% if @the_cocktail.image.present? %>
      <img src="<%= @the_cocktail.image %>" width="250">
    <% end %>
  </div>

  <ul>
    <li>
      2 oz <%= @the_cocktail.liquor.name %>
    </li>
    <li>
      1 oz <%= @the_cocktail.citrus.name %>
    </li>
    <li>
      <%= @the_cocktail.soda.name %>
    </li>
  </ul>
  <h3>
    Technique
  </h3>

  <p>
    In a cocktail shaker, add <%= @the_cocktail.liquor.name.downcase %> and <%= @the_cocktail.citrus.name.downcase %> over ice. Close and shake for 20 seconds, then pour into a highball glass. Top with <%= @the_cocktail.soda.name.downcase %>. Garnish with <% if @the_cocktail.citrus == 1 %>lemon twist<% else %>lime wedge<% end %>.
  </p>

  <div>
    <h3>
      Notes
    </h3>
    
    <% if @the_cocktail.notes.present? %>
      <p>
        <%= @the_cocktail.notes %>
      </p>
      <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
        <div>
          <label for="notes_box">
            Edit notes:
          </label>
          <input type="text" id="notes_box" name="query_notes" placeholder="<%= @the_cocktail.notes %>">
        </div>

        <button>
          Save notes
        </button>
      </form>
    <% else %>
      <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
        <div>
          <label for="notes_box">
            Add notes:
          </label>
          <input type="text" id="notes_box" name="query_notes" placeholder="Add notes on this cocktail">
        </div>
        <button>
          Save notes
        </button>
      </form>
    <% end %>
  </div>

  <div>
    <form action="/image_upload/<%= @the_cocktail.id %>" method="post" enctype="multipart/form-data">
      <div>
        <label for="image">Upload picture:</label>
        <input type="file" id = "image" name="image" accept="/image*">
      </div>

      <button>
        Upload
      </button>
    </form>
  </div>

  <div>
    <h2>
      Change cocktail name
    </h2>

    <form action="/modify_saved_cocktail/<%= @the_cocktail.id %>"  method="post" >
      <div>
        <label for="name_box">
          New name:
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cocktail.name %>">
      </div>

      <button>
        Update saved cocktail
      </button>
    </form>
  </div>


</body>