<h1>
  The <%= @the_cocktail.name %>
</h1>

<div>
  <a href="/saved_cocktails">
    Your saved cocktails
  </a>
</div>

<ul>
  <li>
    2 oz <%= @the_cocktail.liquor.name %>
  </li>
  <li>
    1 oz <%= @the_cocktail.citrus.name %>
  </li>
  <li>
    <%= @the_cocktail.soda.name %>
  </li>
</ul>
<h3>
  Technique
</h3>

<p>
  In a cocktail shaker, add <%= @the_cocktail.liquor.name.downcase %> and <%= @the_cocktail.citrus.name.downcase %> over ice. Close and shake for 20 seconds, then pour into a highball glass. Top with <%= @the_cocktail.soda.name.downcase %>. Garnish with <% if @the_cocktail.citrus == 1 %>lemon twist<% else %>lime wedge<% end %>.
</p>

<div>
  <h3>
    Notes
  </h3>
  
  <% if @the_cocktail.notes.present? %>
    <p>
      <%= @the_cocktail.notes %>
    </p>
    <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
    <label for="notes_box">
      Edit notes:
    </label>
    <input type="text" id="notes_box" name="query_notes" placeholder="<%= @the_cocktail.notes %>">
    <button>
      Save notes
    </button>
  <% else %>
    <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
    <label for="notes_box">
      Add notes:
    </label>
    <input type="text" id="notes_box" name="query_notes" placeholder="Add notes on this cocktail">
    <button>
      Save notes
    </button>
  <% end %>
<div>

<div>
  <div>
    <h2>
      Change cocktail name
    </h2>

    <form action="/modify_saved_cocktail/<%= @the_cocktail.id %>"  method="post" >
      <div>
        <label for="name_box">
          New name:
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cocktail.name %>">
      </div>

      <button>
        Update saved cocktail
      </button>
    </form>
  </div>
</div>