<h1>
  The <%= @the_cocktail.name %>
</h1>

<div>
  <a href="/saved_cocktails">
    Your saved cocktails
  </a>
</div>

<div>
  <% if @the_cocktail.image.present? %>
    <img src="<%= @the_cocktail.image %>" width="250">
  <% end %>
</div>

<ul>
  <li>
    2.5 oz <%= @the_cocktail.liquor.name %>
  </li>
  <li>
    1/4 oz <%= @the_cocktail.modifier.name %>
  </li>
</ul>
<h3>
  Technique
</h3>

<p>
  In a mixing glass, add <%= @the_cocktail.liquor.name.downcase %> and <%= @the_cocktail.modifier.name.downcase %> over ice. Stir for 20 seconds or to your preferred coldness, then strain into a chilled martini glass. May be garnished with olive or by squeezing oil from lemon peel onto the finished drink.
</p>

<div>
  <h3>
    Notes
  </h3>
  
  <% if @the_cocktail.notes.present? %>
    <p>
      <%= @the_cocktail.notes %>
    </p>
    <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
    <label for="notes_box">
      Edit notes:
    </label>
    <input type="text" id="notes_box" name="query_notes" placeholder="<%= @the_cocktail.notes %>">
    <button>
      Save notes
    </button>
  <% else %>
    <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
    <label for="notes_box">
      Add notes:
    </label>
    <input type="text" id="notes_box" name="query_notes" placeholder="Add notes on this cocktail">
    <button>
      Save notes
    </button>
  <% end %>
<div>

<div>
  <div>
    <h2>
      Change cocktail name
    </h2>

    <form action="/modify_saved_cocktail/<%= @the_cocktail.id %>"  method="post" >
      <div>
        <label for="name_box">
          New name:
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cocktail.name %>">
      </div>

      <button>
        Update saved cocktail
      </button>
    </form>
  </div>
</div>