<div>
  <h1>
    The <%= @the_cocktail.name %>
  </h1>

  <h4>
    A cocktail in the <%= @the_cocktail.format.name %> family.
  </h4>

  <div>
    <% if @the_cocktail.image.present? %>
      <img src="<%= @the_cocktail.image %>" width="250">
    <% end %>
  </div>

  <ul>
    <li>
      <% if @the_cocktail.format.id != 3 %>
        2 oz <%= @the_cocktail.liquor.name %>
      <% else %>
        2.5 oz <%= @the_cocktail.liquor.name %>
      <% end %>
    </li>
    <li>
      <% if @the_cocktail.modifier.id != 9 %>
        1 oz <%= @the_cocktail.modifier.name %>
      <% else %>
        1 dash <%= @the_cocktail.modifier.name %>
      <% end %>
    </li>
    <li>
      <% if @the_cocktail.bitters.id < 5 %> 
        2 dashes <%= @the_cocktail.bitters.name %>
      <% else %>
        1 oz <%= @the_cocktail.bitters.name %>
      <% end %>
    </li>
  </ul>
  <h3>
    Technique
  </h3>

  <p>
    In a mixing glass, add <%= @the_cocktail.liquor.name.downcase %>, <%= @the_cocktail.modifier.name.downcase %>, and <%= @the_cocktail.bitters.name %> over ice. Stir for 20 seconds or to your preferred coldness, then strain into a rocks glass over ice. Garnish with an orange twist and/or a maraschino cherry.
  </p>

  <div>
    <h3>
      Notes
    </h3>
    
    <% if @the_cocktail.notes.present? %>
      <p>
        <%= @the_cocktail.notes %>
      </p>
      
      <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
      <label for="notes_box">
        Edit notes:
      </label>
      <input type="text" id="notes_box" name="query_notes" placeholder="<%= @the_cocktail.notes %>">
      <button class="btn btn-secondary">
        Save notes
      </button>
    <% else %>
      <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
      <label for="notes_box">
        Add notes:
      </label>
      <input type="text" id="notes_box" name="query_notes" placeholder="Add notes on this cocktail">
      <button class="btn btn-secondary">
        Save notes
      </button>
    <% end %>
  <div>

  <div>
    <div>
      <h2>
        Change cocktail name
      </h2>

      <form action="/modify_saved_cocktail/<%= @the_cocktail.id %>"  method="post" >
        <label for="name_box">
          New name:
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cocktail.name %>">
        <button class="btn btn-secondary">
          Update saved cocktail
        </button>
      </form>
    </div>
  </div>
  <p></p>
  <div>
    <form action="/delete_saved_cocktail/<%= @the_cocktail.id %>" method="post">
    <button class="btn btn-secondary">
      Delete cocktail
    </button>
    </form>
  </div>
</div>