<h1>
  The <%= @the_cocktail.name %>
</h1>

<div>
  <a href="/saved_cocktails">
    Your saved cocktails
  </a>
</div>

<ul>
  <li>
    1.5 oz <%= @the_cocktail.liquor.name %>
  </li>
  <li>
    3/4 oz <%= @the_cocktail.citrus.name %>
  </li>
  <li>
    3/4 oz <%= @the_cocktail.modifier.name %>
  </li>
</ul>
<h3>
  Technique
</h3>

<p>
  In a cocktail shaker, add <%= @the_cocktail.liquor.name.downcase %>, <%= @the_cocktail.citrus.name.downcase %>, and <%= @the_cocktail.modifier.name.downcase %> over ice. Close and shake for 20 seconds, then strain into a coup glass. <% if @the_cocktail.id == 20 %>The glass may be rimmed with salt or sugar to taste, and garnished with a lime wedge.<% else %>Garnish with orange twist.<% end %>
</p>

<div>
  <div>
    <h2>
      Change cocktail name
    </h2>

    <form action="/modify_saved_cocktail/<%= @the_cocktail.id %>"  method="post" >
      <div>
        <label for="name_box">
          New name:
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cocktail.name %>">
      </div>

      <button>
        Update saved cocktail
      </button>
    </form>
  </div>
</div>