<div class="container-fluid">
  <h1>
    The <%= @the_cocktail.name %>
  </h1>

  <h4>
    A cocktail in the <%= @the_cocktail.format.name %> family.
  </h4>

  <div>
    <% if @the_cocktail.image.present? %>
      <img src="<%= @the_cocktail.image %>" width="250">
    <% end %>
  </div>

  <div>
    <ul>
      <li>
        1.5 oz <%= @the_cocktail.liquor.name %>
      </li>
      <li>
        3/4 oz <%= @the_cocktail.sweetener.name %>
      </li>
      <li>
        3/4 oz <%= @the_cocktail.citrus.name %>
      </li>
    </ul>
  </div>

  <h3>
    Technique
  </h3>

  <p>
    In a cocktail shaker, add <%= @the_cocktail.liquor.name.downcase %>, <%= @the_cocktail.sweetener.name.downcase %>, and <%= @the_cocktail.citrus.name.downcase %> over ice. Close and shake for 20 seconds, then strain into a chilled rocks or coupe glass. 
  </p>

  <div>
    <h3>
      Notes
    </h3>
    
    <% if @the_cocktail.notes.present? %>
      <p>
        <%= @the_cocktail.notes %>
      </p>
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#notesModal">
        Edit notes
      </button>

      <!-- Modal -->
      <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="notesModalLabel">Edit notes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
              <label for="notes_box">
                Add notes:
              </label>
              <textarea class="form-control" id="notes_box" rows="3" name="query_notes"><%= @the_cocktail.notes %></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#notesModal">
        Add notes
      </button>

      <!-- Modal -->
      <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="notesModalLabel">Add notes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/add_notes/<%= @the_cocktail.id %>" method="post">
              <label for="notes_box">
                Add notes:
              </label>
              <textarea class="form-control" id="notes_box" rows="3" name="query_notes" placeholder="Add your thoughts here!"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#renameModal">
    Change cocktail name
  </button>

  <!-- Modal -->
  <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="Rename Cocktail">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="renameModalLabel">Change cocktail name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/modify_saved_cocktail/<%= @the_cocktail.id %>"  method="post">
          <div>
            <label for="name_box">
              New name:
            </label>
            <input type="text" id="name_box" name="query_name" value="<%= @the_cocktail.name %>">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-secondary">Update</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#imageModal">
      <% if @the_cocktail.image.present? %>
        Change image
      <% else %>
        Upload image
      <% end %>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="Change Image">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">Upload an image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/image_upload/<%= @the_cocktail.id %>"  method="post" class="form-horizontal" enctype="multipart/form-data">
            <input type="file" id="new_image" name="image" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-secondary">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger mb-1" data-toggle="modal" data-target="#deleteModal">
      Delete cocktail
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete Cocktail">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete cocktail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              Warning: This cannot be undone.
            </div>
          </div>
          <div class="modal-footer">
            <form action="/delete_saved_cocktail/<%= @the_cocktail.id %>" method="post">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
            <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>